* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;

  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  color: aliceblue;
}
section {
  padding: 10rem 9% 2rem;
}
/* HEADER */
#header {
  width: 100%;
  background-color: lightgrey;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #41404c;
}
nav .logo {
  width: 140px;
  font-size: 35px;
  font-weight: 600;
  color: #41404c;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #41404c;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
}
nav ul a:hover {
  color: aquamarine;
  transition: 0.3s all;
}
nav i {
  font-size: 40px;
}

nav ul i {
  font-size: 30px;
}

/* HOME PAGE */
.home {
  position: relative;
  justify-content: space-between;
  height: 100vh;
  background: grey;
  background-image: url(./images/background.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
  isolation: isolate;
  overflow: hidden;
}
.home::after {
  content: '';
  position: absolute;
  background: #41404c;
  z-index: -1;
  height: 100%;
  inset: 0;
  opacity: 0.6;
  border-radius: 5px;
}

.home-content {
  max-width: 1000px;
}

.home-content h1 {
  font-size: 50px;
  font-weight: bold;
  margin: -3px 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content h2 {
  margin-bottom: 170px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 {
  font-size: 42px;
  font-weight: 700;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
  margin-top: 20px;
}

.home-content p {
  font-size: 36px;
  animation: slideLeft 0.5s ease forwards;
  margin-top: 20px;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid aquamarine;
  border-radius: 50%;
  font-size: 20px;
  color: aquamarine;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s easy;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.home-sci a:hover {
  background: aquamarine;
  color: #081b29;
  box-shadow: 0 0 20px aquamarine;
}
.btn-box {
  display: inline-block;
  padding: 12px 20px;
  background: aquamarine;
  border-radius: 40px;
  font-size: 16px;
  color: darkgreen;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  animation: slideTop 1s easy forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px aquamarine, 0 0 25px aquamarine;
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.home__scroll-text {
  display: none;
}

.skills {
  background-color: #545353e6;
  padding: 20px 20px 20px 20px;
}
.skills-title {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}
.skills-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  align-items: center;
  gap: 4.5rem;
  margin-top: 5rem;
}
.box-context {
  background-color: grey;
  padding: 35px 45px;
  border-radius: 8px;
  transition: all 0.45s ease;
}
.skills-content img {
  width: 90px;
  height: 90px;
}

.box-context h3 {
  text-align: center;
  margin-bottom: 20px;
}

.box-context:hover {
  transform: translateY(-8px);
  cursor: pointer;
}
.projects {
  background: rgb(160, 159, 159);
  padding: 20px 20px 20px 20px;
}
.projects h2 {
  font-size: 50px;
  text-align: center;
}
.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}
.project-image {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.project-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}
.projects-content:hover img {
  transform: scale(1.1);
}
.projects-content:hover .project-info {
  height: 100%;
}
.project-info {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #312b2d);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: 2rem;
  text-align: center;
  padding: 0 40px;
  transition: height 0.2s;
  font-weight: 700;
}
.project-info h3 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.project-info p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
  margin-top: 5rem;
}
.btn-project {
  font-size: 15px;
  border-radius: 8px;
  width: 60px;
  height: auto;
  margin-top: 10px;
}
.contact {
  position: relative;
  background-image: url(/images/montenegro-Background.jpg);
  background-size: cover;
  /* display: grid;
  grid-template-columns: repeat(250px, 1fr); */
  grid-template-columns: 350px max-content max-content;
  row-gap: 0;
  align-items: center;
  /* gap: 2.5rem; */
  isolation: isolate;
  /* overflow: hidden; */
  text-align: center;
  padding: 30px 20px 30px 20px;
}
.contact::after {
  content: '';
  position: absolute;
  background: #41404c;
  z-index: -1;
  height: 100%;
  inset: 0;
  opacity: 0.6;
  border-radius: 5px;
}

.contact__form {
  flex-basis: 35%;
}
.contact-form {
  flex-basis: 60%;
}
.contact-content h2 {
  position: relative;
  color: aquamarine;
  margin: 18px 0;
  font-size: 50px;
  font-weight: 600;
}
.contact-content p {
  font-size: 40px;
  font-weight: 600;
}
.contact-list {
  margin-bottom: 2.8rem;
  list-style: none;
}
.contact-list li i {
  margin-bottom: 15px;
}
.contact-list li a {
  margin-top: 20px;
  display: block;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  padding: 2px;
  transition: all 0.45s ease;
}
.contact-list li:hover {
  /* color: aquamarine; */
  transform: translateX(5px);
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid aquamarine;
  border-radius: 50%;
  font-size: 20px;
  color: aquamarine;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s easy;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.home-sci a:hover {
  background: aquamarine;
  color: #081b29;
  box-shadow: 0 0 20px aquamarine;
}

.contact-form form {
  position: relative;
}
.contact-form form input,
form textarea {
  width: 100%;
  padding: 14px;
  background: rgb(206, 201, 201);
  color: #fff;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-form textarea {
  resize: none;
  height: 240px;
}
.contact-form .submit {
  display: inline-block;
  font-size: 16px;
  background-color: aquamarine;
  color: #000;
  width: 160px;
  transform: all 0.45s ease;
}

.contact-form .submit:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.contact__button {
  font-size: 25px;
  background-color: aquamarine;
  border-radius: 10px;
}

.footer-content {
  width: 100%;
  font-size: 25px;
  height: 50px;
  color: grey;
  text-align: center;
  background-color: lightgray;
}

nav .bx {
  display: none;
  margin: auto 0;
}

@keyframes navMenu {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/*------extra small screens ---------*/

@media (max-width: 499px) {
  nav .logo {
    font-size: 20px;
  }
  nav ul li a{
    font-size: 15px;
  }
  nav .bx {
    display: block;
    font-size: 22px;
  }
  #close {
    color: #fff;
  }

  nav ul {
    background: #8d8d8e;
    position: fixed;
    top: 0;
    right: -300px;
    width: 200px;
    height: 250px;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  nav ul li a {
    color: #fff;
    font-size: 15px;
  }
  nav ul li {
    display: block;
    margin: auto 0;
  }

  nav ul .bx {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: default;
  }

  .home-content {
    max-width: 500px;
    display: block;
  }
  .home-content h1 {
    font-size: 28px;
  }
  .home-content h3 {
    font-size: 25px;
  }
  .home-content p {
    font-size: 13px;
    font-weight: 700;
    line-height: 2rem;
  }
  .btn-box {
    font-size: 12px;
  }
  .skills-title {
    font-size: 20px;
  }
  .projects h2 {
    font-size: 20px;
  }
  .projects p {
    font-size: 15px;
    line-height: 2rem;
    margin-top: 20px;
  }
  .contact-content h2 {
    font-size: 25px;
  }
  .contact-content p {
    font-size: 15px;
  }
  .contact-list li a {
    font-size: 20px;
  }
  .footer-content i {
    font-size: 15px;
  }
  .contact__button {
    font-size: 15px;
  }

}
@media (max-width: 640px) {
  nav .logo {
    font-size: 22px;
  }
  nav ul li a{
    font-size: 17px;
  }
  nav .bx {
    display: block;
    font-size: 24px;
  }
  #close {
    color: #fff;
  }

  nav ul {
    background: #8d8d8e;
    position: fixed;
    top: 0;
    right: -300px;
    width: 200px;
    height: 250px;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  nav ul li a {
    color: #fff;
    font-size: 17px;
  }
  nav ul li {
    display: block;
    margin: auto 0;
  }

  nav ul .bx {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: default;
  }

  .home-content {
    max-width: 500px;
    display: block;
  }
  .home-content h1 {
    font-size: 28px;
  }
  .home-content h3 {
    font-size: 25px;
  }
  .home-content p {
    font-size: 15px;
    font-weight: 700;
    line-height: 2.5rem;
  }
  .btn-box {
    font-size: 15px;
  }
  .skills-title {
    font-size: 22px;
  }
  .projects h2 {
    font-size: 20px;
  }
  .projects p {
    font-weight: 15px;
  }
  .contact-content h2 {
    font-size: 25px;
  }
  .contact-content p {
    font-size: 15px;
  }
  .contact-list li a {
    font-size: 20px;
  }
  .footer-content i {
    font-size: 15px;
  }
  .contact__button {
    font-size: 15px;
  }
  
}
@media (max-width: 780px) {

  nav .logo {
    font-size: 22px;
  }
  nav ul li a{
    font-size: 17px;
  }
  nav .bx {
    display: block;
    font-size: 24px;
  }
  #close {
    color: #fff;
  }

  nav ul {
    background: #8d8d8e;
    position: fixed;
    top: 0;
    right: -300px;
    width: 200px;
    height: 250px;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  nav ul li a {
    color: #fff;
    font-size: 17px;
  }
  nav ul li {
    display: block;
    margin: auto 0;
  }

  nav ul .bx {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: default;
  }

  .home-content {
    max-width: 500px;
    display: block;
  }
  .home-content h1 {
    font-size: 28px;
  }
  .home-content h3 {
    font-size: 25px;
  }
  .home-content p {
    font-size: 15px;
    font-weight: 700;
    line-height: 2.5rem;
  }
  .btn-box {
    font-size: 15px;
  }
  .skills-title {
    font-size: 22px;
  }
  .projects h2 {
    font-size: 22px;
  }
  .projects p {
    font-size: 1rem;
    margin-top: 20px;
  }
  .contact-content h2 {
    font-size: 25px;
  }
  .contact-content p {
    font-size: 15px;
  }
  .contact-list li a {
    font-size: 20px;
  }
  .footer-content i {
    font-size: 15px;
  }
  .contact__button {
    font-size: 15px;
  }
  
}

@media (max-width: 1024px) {
nav .logo {
  font-size: 24px;
}
nav ul li a {
  font-size: 22px;
  font-weight: 600;
}
.home-content {
  max-width: 700px;
  display: block;
}
.home-content h1 {
  font-size: 28px;
}
.home-content h3 {
  font-size: 25px;
}
.home-content p {
  font-size: 18px;
  font-weight: 700;
  line-height: 3.5rem;
}
.btn-box {
  font-size: 15px;
}
.skills-title {
  font-size: 25px;
}
.projects h2 {
  font-size: 25px;
}
.projects p {
  font-size: 1rem;
  margin-top: 20px;
}
.contact-content h2 {
  font-size: 25px;
}
.contact-content p {
  font-size: 15px;
}
.contact-list li a {
  font-size: 20px;
}
.footer-content i {
  font-size: 15px;
}
.contact__button {
  font-size: 15px;
}
}
@media (max-width: 1280px) {
  .home-content h1 {
    font-size: 30px;
  }
  .home-content h3 {
    font-size: 28px;
  }
  .home-content p {
    font-size: 20px;
    font-weight: 700;
    line-height: 3rem;
  }
  nav ul li a {
    font-size: 21px;
  }
  .skills-title {
    font-size: 30px;
  }
  .projects h2 {
    font-size: 30px;
  }
  .projects p {
    font-size: 0.9rem;
    margin-top: 10px;
    padding: 0 0;
  }
  .contact-content h2 {
    font-size: 28px;
  }
  .contact-content p {
    font-size: 25px;
  }
  .contact-list li a {
    font-size: 25px;
  }
  .footer-content i {
    font-size: 18px;
  }
  .contact__button {
    font-size: 20px;
  }
  
}
 /* @media (max-width: 399px) {


  #close {
    color: #d50606;
  }
  nav ul {
    background: #8d8d8e;
    position: fixed;
    top: 0;
    right: -300px;
    width: 200px;
    height: 250px;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  nav ul li a {
    color: #fff;
    font-size: 15px;
  }
  nav ul li {
    display: block;
    margin: auto 0;
  }

  nav ul .bx {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: default;
  }

  .home {
    display: block;
  }
  .home-content {
    padding-right: 10px;
  }
  .home-content h1 {
    font-size: 25px;
  }
  .home-content h3 {
    font-size: 20px;
  }
  .home-content p {
    font-size: 10px;
    font-weight: 700;
 
  }
  .btn-box {
    font-size: 10px;
    justify-content: center;
  }
  .skills-title {
    font-size: 20px;
  }
  .projects h2 {
    font-size: 20px;
  }
  .projects p {
    font-size: 1.3rem;
    margin-top: 20px;
  }
  .contact-content h2 {
    font-size: 25px;
  }
  .contact-content p {
    font-size: 15px;
  }
  .contact-list li a {
    font-size: 20px;
  }
  .footer-content i {
    font-size: 15px;
  }
  .contact__button {
    font-size: 15px;
  }
}


@media (max-width: 640px) {
 nav .logo {
    font-size: 20px;
  }
  nav .bx {
    display: block;
    font-size: 22px;
  }
  #close {
    color: #fff;
  }
  nav ul {
    background: #8d8d8e;
    position: fixed;
    top: 0;
    right: -300px;
    width: 200px;
    height: 250px;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  nav ul li a {
    color: #fff;
    font-size: 15px;
  }
  nav ul li {
    display: block;
    margin: auto 0;
  }

  nav ul .bx {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: default;
  }
  .home-content {
    padding-right: 20px;
    font-size: 10px;
  }
  .home-content h1 {
    font-size: 28px;
  }
  .home-content h3 {
    font-size: 23px;
  }
  .home-content p {
    font-size: 10px;
    font-weight: 700;
    line-height: 2rem;
  }
  .btn-box {
    font-size: 10px;
    justify-content: center;
  }
  .skills-title {
    font-size: 23px;
  }
  .projects h2 {
    font-size: 23px;
  }
  .projects p {
    font-size: 0.9rem;
    margin-top: 10px;
    padding: 0 0;
  }
  .contact-content h2 {
    font-size: 25px;
  }
  .contact-content p {
    font-size: 18px;
  }
  .contact-list li a {
    font-size: 20px;
  }
  .footer-content i {
    font-size: 10px;
  }
  .contact__button {
    font-size: 15px;
  }
}



@media  (max-width: 768px) {
  .logo {
    font-size: 22px;
  }
  nav .bx {
    display: block;
    font-size: 22px;
  }
  #close {
    color: #fff;
  }
  nav ul {
    background: #8d8d8e;
    position: fixed;
    top: 0;
    right: -300px;
    width: 200px;
    height: 250px;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  nav ul li a {
    color: #fff;
    font-size: 15px;
  }
  nav ul li {
    display: block;
    margin: auto 0;
  }

  nav ul .bx {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: default;
  }

  .home-content {
    padding-right: 20px;
  }
  .home-content h1 {
    font-size: 30px;
  }
  .home-content h3 {
    font-size: 25px;
  }
  .home-content p {
    font-size: 20px;
    font-weight: 700;
    line-height: 3rem;
  }
  .btn-box {
    font-size: 18px;
    justify-content: center;
  }
  .skills-title {
    font-size: 25px;
  }
  .projects h2 {
    font-size: 25px;
  }
  .projects p {
    font-size: 1.1rem;
    margin-top: 20px;
  }
  .contact-content h2 {
    font-size: 28px;
  }
  .contact-content p {
    font-size: 18px;
  }
  .contact-list li a {
    font-size: 22px;
  }
  .footer-content i {
    font-size: 15px;
  }
  .contact__button {
    font-size: 18px;
  }
}



@media (max-width: 1024px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #41404c;
  }
  nav .logo {
    font-size: 25px;
    font-weight: 600;
    color: #41404c;
  }

  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px;
  }

  nav ul li a {
    color: #41404c;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
  }
  nav ul a:hover {
    color: aquamarine;
    transition: 0.3s all;
  }
  nav i {
    font-size: 30px;
  }
  nav ul i {
    font-size: 20px;
  }

  nav ul li a {
    color: #41404c;
    font-size: 15px;
  }
  .home-content h1 {
    font-size: 35px;
  }
  .home-content h3 {
    font-size: 30px;
  }
  .home-content p {
    font-size: 18px;
    font-weight: 600;
    line-height: 3.5rem;
  }
  .btn-box {
    font-size: 20px;
  }
  .skills-title {
    font-size: 28px;
  }
  .projects h2 {
    font-size: 28px;
  }
  .projects p {
    font-size: 0.9rem;
    margin-top: 10px;
    padding: 0 0;
  }
  .contact-content h2 {
    font-size: 28px;
  }
  .contact-content p {
    font-size: 25px;
  }
  .contact-list li a {
    font-size: 25px;
  }
  .footer-content i {
    font-size: 18px;
  }
  .contact__button {
    font-size: 20px;
  }
}


@media (max-width: 1280px) {
  nav .logo {
    font-size: 25px;
  }
  nav ul li a {
    color: #41404c;
    font-size: 20px;
  }

  .skills-title {
    font-size: 30px;
  }
  .projects h2 {
    font-size: 30px;
  }
  .projects p {
    font-size: 0.9rem;
    margin-top: 10px;
    padding: 0 0;
  }
  .contact-content h2 {
    font-size: 28px;
  }
  .contact-content p {
    font-size: 25px;
  }
  .contact-list li a {
    font-size: 25px;
  }
  .footer-content i {
    font-size: 18px;
  }
  .contact__button {
    font-size: 20px;
  }
}
@media (max-width: 1536px) {
  .logo {
    font-size: 26px;
  }
  nav ul li a {
    color: #41404c;
    font-size: 22px;
  }
  .home-content p {
    font-size: 50px;

  }
  .projects p {
    font-size: 1rem;
    margin-top: 10px;
    margin-top: 30px;
  }} 
 */
